<div class="container text-grey">
    <div class="list-topic">
        <div class="one-topic">
            <div class="note">
                <button mat-icon-button class="arrow-top text-blue" >
                    <mat-icon matBadge="15">arrow_upward</mat-icon>
                </button>
                <div class="number">50</div>
                <button mat-icon-button class="arrow-bottom" >
                    <mat-icon matBadge="15">arrow_downward</mat-icon>
                </button>
            </div>
            <div class="content">
                <div class="title">
                    Titre
                </div>
                <div class="text">
                    voici du text voici du text voici du text voici du text voici du text voici du text voici du text voici du text voici du text voici du text voici du text voici du text voici du text voici du text voici du text voici du text voici du text voici du text voici du text voici du text voici du text
                </div>
                <div class="infos">
                    <div class="posted">
                        Posté par <span class="text-blue bold">Corentin</span>
                    </div>
                    <div class="time">
                        Il y a 12h
                    </div>
                    <div class="comment">
                        <button mat-icon-button>
                            <mat-icon>chat_bubble_outline</mat-icon> 50+ 
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="one-topic">
            <div class="note">
                <button mat-icon-button class="arrow-top" >
                    <mat-icon matBadge="15">arrow_upward</mat-icon>
                </button>
                <div class="number">50</div>
                <button mat-icon-button class="arrow-bottom text-red" >
                    <mat-icon matBadge="15">arrow_downward</mat-icon>
                </button>
            </div>
            <div class="content">
                <div class="title">
                    Titre
                </div>
                <div class="text">
                    voici du text voici du text voici du text voici du text voici du text voici du text voici du text voici du text voici du text voici du text voici du text voici du text voici du text voici du text voici du text voici du text voici du text voici du text voici du text voici du text voici du text
                </div>
                <div class="infos">
                    <div class="posted">
                        Posté par <span class="text-blue bold">Erwin</span>
                    </div>
                    <div class="time">
                        Il y a 12h
                    </div>
                    <div class="comment">
                        <button mat-icon-button class="arrow-bottom" >
                            <mat-icon>chat_bubble_outline</mat-icon> 50+ 
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="one-topic">
            <div class="note">
                <button mat-icon-button class="arrow-top" >
                    <mat-icon matBadge="15">arrow_upward</mat-icon>
                </button>
                <div class="number">50</div>
                <button mat-icon-button class="arrow-bottom" >
                    <mat-icon matBadge="15">arrow_downward</mat-icon>
                </button>
            </div>
            <div class="content">
                <div class="title">
                    Titre
                </div>
                <div class="text">
                    voici du text voici du text voici du text voici du text voici du text voici du text voici du text voici du text voici du text voici du text voici du text voici du text voici du text voici du text voici du text voici du text voici du text voici du text voici du text voici du text voici du text
                </div>
                <div class="infos">
                    <div class="posted">
                        Posté par <span class="text-blue bold">Edouard</span>
                    </div>
                    <div class="time">
                        Il y a 12h
                    </div>
                    <div class="comment">
                        <button mat-icon-button class="arrow-bottom" >
                            <mat-icon>chat_bubble_outline</mat-icon> 50+ 
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="one-topic">
            <div class="note">
                <button mat-icon-button class="arrow-top text-blue" >
                    <mat-icon matBadge="15">arrow_upward</mat-icon>
                </button>
                <div class="number">50</div>
                <button mat-icon-button class="arrow-bottom" >
                    <mat-icon matBadge="15">arrow_downward</mat-icon>
                </button>
            </div>
            <div class="content">
                <div class="title">
                    Titre
                </div>
                <div class="text">
                    voici du text voici du text voici du text voici du text voici du text voici du text voici du text voici du text voici du text voici du text voici du text voici du text voici du text voici du text voici du text voici du text voici du text voici du text voici du text voici du text voici du text
                </div>
                <div class="infos">
                    <div class="posted">
                        Posté par <span class="text-blue bold">Erwan</span>
                    </div>
                    <div class="time">
                        Il y a 12h
                    </div>
                    <div class="comment">
                        <button mat-icon-button class="arrow-bottom" >
                            <mat-icon>chat_bubble_outline</mat-icon> 50+ 
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="one-topic">
            <div class="note">
                <button mat-icon-button class="arrow-top" >
                    <mat-icon matBadge="15">arrow_upward</mat-icon>
                </button>
                <div class="number">50</div>
                <button mat-icon-button class="arrow-bottom" >
                    <mat-icon matBadge="15">arrow_downward</mat-icon>
                </button>
            </div>
            <div class="content">
                <div class="title">
                    Titre
                </div>
                <div class="text">
                    voici du text voici du text voici du text voici du text voici du text voici du text voici du text voici du text voici du text voici du text voici du text voici du text voici du text voici du text voici du text voici du text voici du text voici du text voici du text voici du text voici du text
                </div>
                <div class="infos">
                    <div class="posted">
                        Posté par <span class="text-blue bold">Mathieu</span>
                    </div>
                    <div class="time">
                        Il y a 12h
                    </div>
                    <div class="comment">
                        <button mat-icon-button>
                            <mat-icon>chat_bubble_outline</mat-icon> 50+ 
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="one-topic">
            <div class="note">
                <button mat-icon-button class="arrow-top" >
                    <mat-icon matBadge="15">arrow_upward</mat-icon>
                </button>
                <div class="number">50</div>
                <button mat-icon-button class="arrow-bottom text-red" >
                    <mat-icon matBadge="15">arrow_downward</mat-icon>
                </button>
            </div>
            <div class="content">
                <div class="title">
                    Titre
                </div>
                <div class="text">
                    voici du text voici du text voici du text voici du text voici du text voici du text voici du text voici du text voici du text voici du text voici du text voici du text voici du text voici du text voici du text voici du text voici du text voici du text voici du text voici du text voici du text
                </div>
                <div class="infos">
                    <div class="posted">
                        Posté par <span class="text-blue bold">Léa</span>
                    </div>
                    <div class="time">
                        Il y a 12h
                    </div>
                    <div class="comment">
                        <button mat-icon-button>
                            <mat-icon>chat_bubble_outline</mat-icon> 50+ 
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="right-option">
        <button mat-raised-button color="primary" class="add-topic">
            <span mat-icon-button  class="button-add"> 
                <mat-icon mat-raised-button>add</mat-icon> Commencer un nouveau post
            </span>
        </button>
        <div class="top-users">
            <div class="title-user">
                Top utilisateurs
            </div>
            <div class="list-users">
                <div class="the-user">
                    <div mat-icon class="picture" style="background-image: url('https://i.pinimg.com/originals/7f/33/00/7f33007dd996fc7f55cf12632ffa1d8a.jpg');"></div>
                    <div class="username">Erwin</div>    
                </div>
                <div class="score">
                    <div class="text-grey">18.2K</div>
                    <mat-icon>arrow_upward</mat-icon>
                </div>
            </div>
            <div class="list-users">
                <div class="the-user">
                    <div mat-icon class="picture" style="background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');"></div>
                    <div class="username">Coco</div>    
                </div>
                <div class="score">
                    <div class="text-grey">12.8K</div>
                    <mat-icon>arrow_upward</mat-icon>
                </div>
            </div>
            <div class="list-users">
                <div class="the-user">
                    <div mat-icon class="picture" style="background-image: url('https://static.actu.fr/uploads/2019/01/Buddy-Boo-Blue-Benny-@buddyboowaggytails-%E2%80%A2-Photos-et-vid%C3%A9os-Instagram-Google-Chrome-885x640.jpg');"></div>
                    <div class="username">Maxime</div>    
                </div>
                <div class="score">
                    <div class="text-grey">10.5K</div>
                    <mat-icon>arrow_upward</mat-icon>
                </div>
            </div>
            <div class="list-users">
                <div class="the-user">
                    <div mat-icon class="picture" style="background-image: url('https://i.picsum.photos/id/735/536/354.jpg?hmac=QbcithUsGapa5RK_Oa1ZnnPIh3X-IDt1BD0sYRvDyR8');"></div>
                    <div class="username">Edouard</div>    
                </div>
                <div class="score">
                    <div class="text-grey">9.3K</div>
                    <mat-icon>arrow_upward</mat-icon>
                </div>
            </div>
            <div class="list-users">
                <div class="the-user">
                    <div mat-icon class="picture" style="background-image: url('https://picsum.photos/536/354');"></div>
                    <div class="username">Mathieu</div>    
                </div>
                <div class="score">
                    <div class="text-grey">8.9K</div>
                    <mat-icon>arrow_upward</mat-icon>
                </div>
            </div>
            <div class="list-users">
                <div class="the-user">
                    <div mat-icon class="picture" style="background-image: url('https://picsum.photos/id/237/536/354');"></div>
                    <div class="username">Erwan</div>    
                </div>
                <div class="score">
                    <div class="text-grey">8.2K</div>
                    <mat-icon>arrow_upward</mat-icon>
                </div>
            </div>
            <div class="list-users me">
                <div class="the-user">
                    <div mat-icon class="picture" style="background-image: url('https://picsum.photos/id/1084/536/354?grayscale');"></div>
                    <div class="username" style="margin-right: 5px;">Moi </div><span class="text-grey">(14)</span>  
                </div>
                <div class="score">
                    <div class="text-grey">1.4K</div>
                    <mat-icon>arrow_upward</mat-icon>
                </div>
            </div>
            
        </div>
        <div class="card-tags">
            <div class="title-tag">Liste des tags</div>
            <div class="list-tags">
                <button mat-raised-button class="tag" style="background-color: blue; color: white;">IA</button>
                <button mat-raised-button class="tag" style="background-color: orange; color: white;">Réseau</button>
                <button mat-raised-button class="tag" style="background-color: green; color: white;">VR</button>
                <button mat-raised-button class="tag" style="background-color: grey; color: white;">IOT</button>
                <button mat-raised-button class="tag" style="background-color: yellow; color: black;">IA</button>
                <button mat-raised-button class="tag" style="background-color: pink; color: white;">Administration</button>
            </div>
            
        </div>
    </div>
</div>
