<div fxFlex fxLayout="column" >
  <div fxLayout="row" fxLayoutAlign="center" class="subtitlewrapper">
    <p class="subtitle" translate>Gestion des sites</p>
  </div>
  <div fxLayout="row wrap" fxLayoutAlign="center">
    <div fxFlex="50" fxFlex.lt-md="100" fxLayout="column">
      <div fxLayout="column"  style="margin-top: 100px">
        <form [formGroup]="form">
          <div fxLayoutAlign="center">
            <mat-form-field>
              <mat-label>Nom du site : </mat-label>
              <input formControlName="name" matInput />
              <mat-error *ngIf="form.controls['name'].invalid"
                >Veuillez entrer un nom valide !</mat-error
              >
            </mat-form-field>
          </div>
          <div fxLayoutAlign="center">
            <mat-form-field>
              <mat-label>Description : </mat-label>
              <textarea
                formControlName="description"
                matInput
                placeholder=""
              ></textarea>
              <mat-error *ngIf="form.controls['description'].invalid"
                >Veuillez entrer une description valide !</mat-error
              >
            </mat-form-field>
          </div>

          <div>
            <!-- Main Header -->
            <mat-list>
              <mat-card class="tab-header">
                <div fxLayout="row">
                  <div fxFlex="70" fxLayoutAlign=" center">Id</div>
                  <div
                    fxFlex="70"
                    fxFlexOffset="2"
                    fxLayoutAlign=" center"
                    translate
                  >
                    Nom
                  </div>
                  <div fxFlex="70" fxLayoutAlign=" center">Etage</div>

                  <div *ngIf="this.id != undefined">
                    <button
                      mat-mini-fab
                      fxLayoutAlign="center center"
                      (click)="addRoom(this.id)"
                    >
                      <mat-icon
                        aria-hidden="false"
                        aria-label="Example home icon"
                        >add</mat-icon
                      >
                    </button>
                  </div>
                </div>
              </mat-card>
            </mat-list>

            <mat-list *ngIf="isNew == false">
              <div *ngFor="let room of this.rooms">
                <mat-list-item (click)="viewRoom(room.id)">
                  <div fxFlex="70">
                    {{ room.id }}
                  </div>
                  <div fxFlex="70">{{ room.name }}</div>
                  <div fxFlex="70">{{ room.floor }}</div>
                </mat-list-item>
                <mat-divider></mat-divider>
              </div>
            </mat-list>
          </div>

          <div fxLayoutAlign="center">
            <div *ngIf="isNew == true; else elseBlock">
              <button
                [disabled]="!form.valid || formSubmitted"
                (click)="save()"
                mat-raised-button
                color="primary"
              >
                Sauvegarder
              </button>
            </div>
            <ng-template #elseBlock>
              <button
                [disabled]="!form.valid || formSubmitted"
                (click)="update()"
                mat-raised-button
                color="primary"
              >
                Enregistrer
              </button>
            </ng-template>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
