<div class="container" >
    <h3  mat-dialog-title>Ajouter un document</h3>

    <form class="mat-dialog-content" (ngSubmit)="submit" #formControl="ngForm">
      <div class="form">
        <mat-form-field color="primary">
          <input matInput #input class="form-control" placeholder="Nom" [(ngModel)]="document.name" name="name" required />
          <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
      </div>
      <div class="form">
        <mat-form-field color="primary">
          <textarea matInput #input class="form-control" placeholder="Description" [(ngModel)]="document.description" name="description" required ></textarea>
          <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
      </div>

      <div class="form">
        <input class="form-control" type="file" (change)="onChange($event)">
      </div>
      <div mat-dialog-actions>
        <button mat-raised-button color="primary" [disabled]="!formControl.valid" (click)="confirmAdd()">Valider</button>
        <button mat-raised-button mat-dialog-close (click)="onNoClick()" tabindex="-1">Annuler</button>
      </div>
    </form>
  </div>