<div class="subtitlewrapper">
  <p class="subtitle" translate>Module administration</p>
</div>

<div fxLayout="row wrap" class="matcardtilesWrapper">

  <mat-card fxFlex="25%" class="matcardtiles mat-elevation-z4" routerLink="/filetypes">
    <mat-card-content class="matcardcontent">
      <span class="material-icons"> folder </span>
    </mat-card-content>

    <mat-card-footer class="matcardtilesfooter">
      <span translate>Type de fichier</span>
    </mat-card-footer>
  </mat-card>

  <mat-card fxFlex="25%" class="matcardtiles mat-elevation-z4" routerLink="/maintenances">
    <mat-card-content class="matcardcontent">
      <span class="material-icons"> engineering </span>
    </mat-card-content>

    <mat-card-footer class="matcardtilesfooter">
      <span translate>Gestion des maintenances</span>
    </mat-card-footer>
  </mat-card>

  <mat-card fxFlex="25%"
    class="matcardtiles mat-elevation-z4"
    routerLink="/maintenancestatus"
  >
    <mat-card-content class="matcardcontent">
      <span class="material-icons"> published_with_changes </span>
    </mat-card-content>

    <mat-card-footer class="matcardtilesfooter">
      <span translate>Statut des maintenances</span>
    </mat-card-footer>
  </mat-card>

  <mat-card fxFlex="25%" class="matcardtiles mat-elevation-z4" routerLink="/operationtypes">
    <mat-card-content class="matcardcontent">
      <span class="material-icons"> build </span>
    </mat-card-content>

    <mat-card-footer class="matcardtilesfooter">
      <span translate>Type d'opérations</span>
    </mat-card-footer>
  </mat-card>

  <mat-card fxFlex="25%" class="matcardtiles mat-elevation-z4" routerLink="/resourcestate">
    <mat-card-content class="matcardcontent">
      <span class="material-icons"> event_available </span>
    </mat-card-content>

    <mat-card-footer class="matcardtilesfooter">
      <span translate>Etats des ressources</span>
    </mat-card-footer>
  </mat-card>

  <mat-card fxFlex="25%" class="matcardtiles mat-elevation-z4" routerLink="/resourcetypes">
    <mat-card-content class="matcardcontent">
      <span class="material-icons"> screen_search_desktop </span>
    </mat-card-content>

    <mat-card-footer class="matcardtilesfooter">
      <span translate>Types des ressources</span>
    </mat-card-footer>
  </mat-card>

  <mat-card fxFlex="25%" class="matcardtiles mat-elevation-z4" routerLink="/sites">
    <mat-card-content class="matcardcontent">
      <span class="material-icons"> location_city </span>
    </mat-card-content>

    <mat-card-footer class="matcardtilesfooter">
      <span translate>Gestion des sites</span>
    </mat-card-footer>
  </mat-card>

  <mat-card fxFlex="25%" class="matcardtiles mat-elevation-z4" routerLink="/securitygears">
    <mat-card-content class="matcardcontent">
      <span class="material-icons"> shield </span>
    </mat-card-content>

    <mat-card-footer class="matcardtilesfooter">
      <span translate>Equipements de sécurité</span>
    </mat-card-footer>
  </mat-card>

  <mat-card fxFlex="25%" class="matcardtiles mat-elevation-z4" routerLink="/documentations">
    <mat-card-content class="matcardcontent">
      <span class="material-icons"> text_snippet </span>
    </mat-card-content>

    <mat-card-footer class="matcardtilesfooter">
      <span translate>Documentations</span>
    </mat-card-footer>
  </mat-card>
  <!-- card list here -->
</div>
